body {
    background-color:#f999;
    color: #333;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-weight: bold; 
    font-style: italic;
    text-align: justify;
    font-size: 20px;
}

.box {
    padding: 5px;
}

header {
    background-color: #9009;
    color:#fff;
    padding: 30px;  
}

section {
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    height: 250px;
    max-width: 700px;
    margin: auto;
    border: 5px solid #987;
    border-radius: 10px;
}

nav {
    background-color: #911;
    padding: 25px;
    font-weight: 700;
    letter-spacing: 2,5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #987;
}

footer {
    background-color: #911;
    color:#fff;
    padding: 20px;
}

.footer-content {
    position: relative;
    max-width: 800%;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    font-family: 'Courier New';
    font-weight: 200;
    font-size: 15px;
}